<div class="header">

  {% block header %}
    <hgroup>
      <h1 class="header-title">
        <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </h1>
    </hgroup>

  {% endblock header %}

  {% block nav %}
    <div class="header-menu">

      {% for title, link in MENUITEMS %}
        <p class="small">
          <a href="{{ link }}">
            {{ title }}
          </a>
        </p>
      {% endfor %}

      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
          <p class="small {% if p==page %} bold {% endif %}">
            <a
              href="{{ SITEURL }}/{{ p.url }}"
              {% if p==page %} aria-current="page" {% endif %}
            >
              /{{ p.title }}
            </a>
          </p>
        {% endfor %}
      {% endif %}

      {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
          <p class="small {% if cat==category %} bold {% endif %}">
            <a href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>
              {{ cat}}
            </a>
          </p>
        {% endfor %}
      {% endif %}
    </div>
  {% endblock nav %}

</div>